<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    <%= link_to "フォロー", followings_user_path, class: "btn btn-sm btn-primary" %>
    <%= link_to "フォロワー", followers_user_path, class: "btn btn-sm btn-primary" %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <%= link_to "プロフィールを編集する" ,edit_user_path %>

      <ol class="microposts">
                <%= page_entries_info @microposts %>
        <%= render @microposts %>
      </ol>
    <% end %>
          <%= paginate @microposts %>
  </div>
</div>